[user]
	name = Sébastien HOUZÉ
	email = sebastien.houze@fulll.fr
	signingkey = FA30FDDE64CD1CC216C219F1A5C832644737990A

[github]
	user = shouze

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[alias]
	co = checkout
	st = status
	prettylog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	pager = delta

[push]
	default = tracking

[rerere]
	enabled = true

[branch]
	autosetuprebase = always

[help]
	autocorrect = 1

[diff]
	renameLimit = 5200
	external = difft

[difftool]
	prompt = false

[gc]
	auto = 0
